* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow-y: scroll;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns:
    minmax(200px, 1fr) minmax(400px, 2fr) minmax(200px, 1fr)
    minmax(200px, 1fr);
  grid-template-rows: minmax(10px, 0.25fr) repeat(2, minmax(150px, 1fr)) minmax(
      10px,
      0.25fr
    );
  gap: 1em;
  background-color: bisque;
}

#header {
  grid-column: 1/5;
  grid-row: 1;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  flex: 1 1 75%;
}

.entry {
  grid-column: 1;
  grid-row: 2/4;
  background-color: khaki;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.error-message {
  color: red;
  font-weight: bolder;
}

.enterBook {
  margin-top: 1em;
  margin-bottom: 3em;
}
.enter {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  margin-bottom: 0.7em;
}

.bookcase {
  grid-column: 2/5;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(33%, 1fr)); */
  grid-template-rows: 1.5rem auto;
  grid-auto-flow: row;
  margin: 5px;
  padding: 5px;
  gap: 5px;
  /* width: calc(100vw - 6rem); */
  width: auto;
  /* max-height: 100%; */
  max-height: calc(100vh - 6rem);
  background-color: rgb(185, 176, 240);
}

 h4#library {
  display: grid;
  grid-row: 1;
  grid-column: 1/5;
} 

.bookCard {
  grid-row-start: 2;
  width: 33%; 
  height: 33%;
  /* width: minmax(5rem, 33%); */
  /* height: minmax(3rem, 5rem);  */
  border: solid 1px black;
  background-color: rgb(235, 170, 243);
  padding: 1rem;
  gap: 5px;
}

.delete {
  margin-right: 0.5em;
}

footer {
  grid-column: 1/5;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  position: fixed;
  bottom: 0;
  width: 100%;
}
